<div class="comments">
  {{#each this}}
  <section class="comment">
    
    <div class="text">
    {{#if loggedIn}}
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <input name="comment" type="text" data-id="{{id}}" value="{{comment_text}}" />
    <button type="button" class="edit-comment-btn mt-2" data-id="{{id}}">Edit</button>
    <button type="button" class="delete-comment-btn mt-2" data-id="{{id}}">Delete</button>
    {{else}}
    {{comment_text}}
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    {{/if}}
    </div>
  </section>
  {{/each}}
</div>

<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>